:root {
  --color-background: hsl(0, 0%, 95%);
  --color-sedan: hsl(31, 77%, 52%);
  --color-suv: hsl(184, 100%, 22%);
  --color-luxury: hsl(179, 100%, 13%);
  --color-transparent-white: hsla(0, 0%, 100%, 0.75);
}

article {
  /* layout */
  padding: 3rem;
}

article button {
  /* text appearance */
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  color: inherit;
  /* appearance */
  background-color: var(--color-background);
  border: 2px solid var(--color-background);
  border-radius: 1.5rem;
  height: 3rem;
  width: 9.125rem;
}

article button:hover {
  /* text appearance */
  color: var(--color-transparent-white);
  /* appearance */
  background-color: transparent;
  cursor: pointer;
}

article h2 {
  /* text appearance */
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  color: var(--color-background);
  text-transform: uppercase;
  /* layout */
  margin: 0 0 1.5rem;
}

article img {
  /* layout */
  display: block;
  margin: 0 0 2.25rem;
}

article p {
  /* text appearance */
  font-family: 'Lexend Deca', sans-serif;
  font-size: 0.9375rem;
  color: var(--color-transparent-white);
  line-height: 1.5625rem;
  /* Layout */
  margin: 0 0 1.5625rem;
}

body {
  /* appearance */
  background-color: var(--color-background);
  /* layout */
  margin: 0;
}

footer {
  /* layout */
  bottom: 0;
  position: fixed;
  width: 100vw;
}

main {
  display: flex;
  justify-content: center;
}

section {
  /* layout */
  margin: 5.5rem 1.5rem 0.5rem;
  max-width: 21rem;
}

section article:first-of-type {
  /* appearance */
  border-radius: 0.5rem 0.5rem 0 0;
}

section article:last-of-type {
  /* appearance */
  border-radius: 0 0 0.5rem 0.5rem;
}

.screen-reader {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.sedan {
  /* appearance */
  background-color: var(--color-sedan);
  /* text appearance */
  color: var(--color-sedan);
}

.suv {
  /* appearance */
  background-color: var(--color-suv);
  /* text appearance */
  color: var(--color-suv);
}

.luxury {
  /* appearance */
  background-color: var(--color-luxury);
  /* text appearance */
  color: var(--color-luxury);
}

@media screen and (min-width: 800px) {
  article p {
    /* layout */
    margin: 0 0 5.1875rem;
  }

  section {
    /* layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* value for margin-top 171px is only used to match Frontend Mentor design screenshot
    in general I would propably want to use value like .5rem or 0 */
    margin: 171px auto 0.5rem;
    max-width: 57.5rem;
  }

  section article:first-of-type {
    /* appearance */
    border-radius: 0.5rem 0 0 0.5rem;
  }
  
  section article:last-of-type {
    /* appearance */
    border-radius: 0 0.5rem 0.5rem 0;
  }
}