body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-align: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  margin: 152px auto 0px;
  max-width: 288px;
  padding: 16px;
}

.card-header {
  border-radius: 8px;
  max-width: inherit;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 1.48em;
  font-weight: 700;
  margin: 20px 16px 16px 16px;
}

.subtitle {
  color: hsl(220, 15%, 55%);
  font-size: 1.03em;
  font-weight: 400;
  margin: 16px 16px 24px 16px;
}

/* Styles by Frontend Mentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
