html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  text-align: center;
  /* css grid */
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-rows: 20px auto 20px;
}

footer {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 3;
  height: 16px;
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 16px;
  max-width: 288px;
  padding: 16px;
  place-self: center;
}

.card-header {
  border-radius: 8px;
  max-width: inherit;
}

.container {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 2;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 1.48em;
  font-weight: 700;
  margin: 20px 16px 16px 16px;
}

.subtitle {
  color: hsl(220, 15%, 55%);
  font-size: 1.03em;
  font-weight: 400;
  margin: 16px 16px 24px 16px;
}

/* Styles by Frontend Mentor */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
